@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merienda+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Merienda One', cursive;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1349px;
  margin: 0 auto;
  padding: 0 50px;
}

button{
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}
.hero-header{
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom: 10px;
}

.hero-header span{
  font-weight: bold;
}

.hero-number{
  color: red;
}
.hero-text{
color: white;
}

@media screen and (max-width: 768px) {
  .hero-header{
      font-size: 35px;
  }
}