@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merienda+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Merienda One', cursive;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}